.new-tweet {
  border-radius: 10px;
  background-color: #eee;
  padding: 1em;
  margin: 2em;
}

.negative-chars-remaining {
  color: red;
}

.counter {
  float: right;
}

textarea {
  width: 100%;
}


